
.calculator {
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #6d7077;
    padding: 10px;
    border: 2px solid #050505;
    border-radius: 10px;
}

.btn-row {
    display: flex;
    gap: 5px;
}

button {
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #050505;
    background-color: #f5f5f5;
}
button:active {
    background-color: #b5b8be;
}

.equals {
    background-color: #eb8e24;
}
.equals:active {
    background-color: #b36c1c;
}

#display {
    font-size: 40px;
    padding: 0px 0px 10px 0px;
    font-family: digital;
    background-color: #c6ddb3;
    border: 2px solid #050505;
    border-radius: 10px;
}

@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}